[2015-04-28 06:40] xxryan1234 opened #1 "if passed an array object, the first displayed is the last element of json"
for example I have this kind of json

		[ {
			"name"        : "reports-observation",
			"version"     : "1.0.0",
			"description" : "",
			"main"        : "server.js",
			"scripts"     : {
				"test"  : "echo \"Error: no test specified\" && exit 1",
				"start" : "node server.js"
			},
			"author"       : "",
			"license"      : "ISC",
			"dependencies" : {
				"csv"          : "^0.4.2",
				"csv

[2015-04-28 12:04] kauegimenes commented on #1
Hello @xxryan1234 thanks for the feedback!

Can you please try using the option `orderHeaders: false`?

About the `XLS` / `XLSX` currently there is no support for this extension, maybe in the future =)

[2015-04-28 12:14] xxryan1234 commented on #1
Thanks for this! It's okay now. XLS / XLSX would surely help! Thanks

[2015-04-28 12:14] #1 closed

[2016-04-14 21:55] krishnaglick opened #3 "Array outputs 'contains' when module is Webpacked/Browserify'd"
I'm working on a web app and need to convert JSON to CSV, so I grabbed this library and threw it into Webpack. However for some reason if I use it on an array the first column is 'contains' and all subsequent cells in that row are blank.

The issue is reproducible by going here: http://chojax.azurewebsites.net/
and entering 'jsonExport([], console.log)' into your console.
I believe it to be someth

[2016-04-14 23:05] kauegimenes commented on #3
@krishnaglick I belive the problem is related `headerCount.__proto__.contains()`
![Image](https://cloud.githubusercontent.com/assets/7304741/14546502/2571876c-027c-11e6-949a-2ac4db68c06d.png)

[2016-04-15 01:49] krishnaglick commented on #3
This is actually an issue with my code base. I prototyped a function onto array.
`Array.prototype.contains = function(eqObj)`
I removed it since I was only using it in once place. I think you can fix it using...
`for(let header in headerCount)
if(headerCount.hasOwnProperty(header))
headerSort.push...
`

[2016-04-15 16:16] kauegimenes commented on #3
@krishnaglick That would work, can you submit a pull request? =)

[2016-04-16 14:00] krishnaglick commented on #3
Sure! I'll try to get to it this weekend. :+1:

[2016-04-18 14:07] krishnaglick commented on #3
https://github.com/Cnova/jsonexport/pull/4

[2016-04-18 14:07] #3 closed

[2016-06-25 13:28] TomShriner opened #6 "Handling of newline in string literal potential issue"
I saw an issue where one of my json entries contained a newline - example:

"q10":"blahblahblahe\n",

which seems to not get handled properly.  Could I be missing an option to handle this or is there an issue with the character embedded in the string literal (or perhaps my json is not properly escaped - I retrieve via an external API which may be violating the json spec - but it looks right).

It

[2016-08-16 21:08] kzimic opened #7 "This module reverses the order of json key values"
[code]

[2016-08-16 21:57] kauegimenes commented on #7
Try the option orderHeaders: false

[2016-08-17 16:37] kzimic commented on #7
That solved the problem, Thanks!

[code]

[2016-08-17 16:37] #7 closed

[2016-09-23 22:01] kauegimenes commented on #6
@TomShriner You could use the `handleString` option if you want to remove linebreaks from all strings, but i think another option would be to add the `textDelimiter` in the CSV (needs to be tested) https://github.com/Cnova/jsonexport/blob/master/lib/index.js#L122

[code]

[2016-09-23 22:22] kauegimenes opened #9 "Stream support"
This module needs to implement streaming to support huge CSVs, currently its using memory to save the csv output https://github.com/kauegimenes/jsonexport/blob/master/lib/index.js#L109

[2016-09-23 22:24] kauegimenes commented on #9
@cburgmer @papswell @krishnaglick @xxryan1234 Any help is welcome =)

[2016-10-06 20:49] kauegimenes opened #11 "Address issues found in lib/index.js [Opened by bitHound]"
bitHound discovered 12 LintIssues, and 2 ComplexFunctions in [lib/index.js](https://github.com/kauegimenes/jsonexport/blob/d87bca9cc4210dc2c113c2fa54c472df6d1e0483/lib/index.js). For details go to [bitHound](https://www.bithound.io/github/kauegimenes/jsonexport/blob/d87bca9cc4210dc2c113c2fa54c472df6d1e0483/lib/index.js).

[2016-10-06 20:57] kauegimenes opened #12 "Address issue found in tests/options.js [Opened by bitHound]"
bitHound discovered 2 LintIssues in [tests/options.js](https://github.com/kauegimenes/jsonexport/blob/b79064038912b48196043bbb42a30661158f520f/tests/options.js). For details go to [bitHound](https://www.bithound.io/github/kauegimenes/jsonexport/blob/b79064038912b48196043bbb42a30661158f520f/tests/options.js).

[2016-10-06 21:00] #12 closed

[2016-10-20 04:22] patrickhulce opened #13 "1.3 breaks calls without explicit options"
This commit (26513e7ee5aab28f2c599df3d528ec1b1912a3bb) breaks calls that omit user options. (moving `options` from module to function scope throws a ReferenceError)

[2016-10-20 17:07] #13 closed

[2016-10-25 13:20] #6 closed

[2016-12-20 00:17] #11 closed

[2016-12-20 00:31] kauegimenes commented on #9
@papswell Any ideas for this issue? =)

[2016-12-20 11:26] papswell commented on #9
@kauegimenes i can try as soon as possible, but for now i can't afford to spend more time on it :s
Let's see in 2017 :)

[2016-12-20 20:42] rawcreative opened #17 "Fails when arrays contain non-string values"
When passing an array of objects that contain non-string values, a fatal error is thrown on version 1.5.0.

[code]
fails with:
[code]

[2016-12-20 21:23] #17 closed

[2016-12-20 21:28] kauegimenes commented on #17
@rawcreative I just added a validation to the escape-delimiters and i included numbers in the array.js test https://github.com/kauegimenes/jsonexport/blob/master/tests/array.js#L22

@papswell Can you think about a better way to solve this?

[2017-02-24 11:27] harshalyeole-tudip opened #19 "RangeError: Maximum call stack size exceeded"
/api/node_modules/jsonexport/lib/index.js:197
function checkType(element, item){
                  ^

RangeError: Maximum call stack size exceeded

[2017-02-24 15:36] kauegimenes commented on #19
@harshalyeole-tudip whats the size of the json you are trying to export to csv?

Check https://github.com/kauegimenes/jsonexport/issues/9

[2017-02-24 16:37] harshalyeole-tudip commented on #19
Size would be more than array of 500 JSON objects.

[2017-02-24 16:41] kauegimenes commented on #19
Can you try with a lower number of elements?

[2017-02-24 16:45] harshalyeole-tudip commented on #19
But it is of no use then.

[2017-02-24 18:16] kauegimenes commented on #19
I am trying to confirm if the issue is releated to the collection size.

[2017-02-25 08:03] harshalyeole-tudip commented on #19
Yes
Does it support all sizes of collection?

[2017-03-01 12:06] jtlindsey commented on #19
Have you guys tried json2csv? I'm experimenting with it now because i need to use with collection over 3000 results.

https://www.npmjs.com/package/json2csv

[2017-03-13 18:38] campatsky opened #20 "leading zeros"
I have an id field and many of the ids lead with one or more zeros. when i import the csv to excel, these get cut off. normally i would wrap the field in double quotes or a leading single quote to indicate it is a text type. but your nifty exporter handles these special characters differently. how would i make it so my field could retain the leading zeros?

[2017-03-20 02:48] kauegimenes commented on #20
Try using

var options = {
    handleNumber: function(number, name){
        return number.toString();
    }
};

[2017-03-29 20:49] mwang25277 opened #21 "Inconsistencies with newlines"
[wangm13-tweets.zip](https://github.com/kauegimenes/jsonexport/files/880322/wangm13-tweets.zip)

Attached is a csv file generated using jsonexport to convert Twitter data (100 tweets) from the Streaming API (in JSON) to the given csv file.

      `twitStream.on('tweet', function(tweet) {
		counter++;
		tweets.push(tweet);
		if(counter == count) {
			twitStream.stop();
			var parsedTweets = [];

[2017-05-03 12:02] decaller opened #22 "Wrong placement in multi-array set"
Here's my code
[code]

and here is the output
[code]

![capture](https://cloud.githubusercontent.com/assets/4971396/25659470/244f7530-3032-11e7-99de-de8577993ce8.PNG)

as you can see, the values are not supposed to be there. It should drop on the next line.
And is there any option to force rewrite values so it would be look like this?

![capture](https://cloud.githubusercontent.com/assets/4971396/

[2017-05-31 23:58] sanderheilbron opened #23 "Change order of columns"
Would it be possible to set a specific order of columns?

[2017-06-02 05:55] kauegimenes commented on #23
@sanderheilbron Currently only using the option
`orderHeaders - Boolean The most used columns are shown first. (defaults to false).`

[2017-06-02 05:58] #20 closed

[2017-06-02 05:58] #19 closed

[2017-06-03 20:22] sanderheilbron commented on #23
Thanks @kauegimenes, but that does not always result in a legible document, and requires switching columns inside Excel, Numbers or Google Sheets.

[2017-06-03 23:36] kauegimenes commented on #23
@sanderheilbron This would work for you?

[code]

[2017-06-05 18:32] kauegimenes commented on #21
@mwang25277 This should be fixed in [v2.0.0](https://github.com/kauegimenes/jsonexport/tree/v2.0.0), i will close the issue after it's published.

[2017-06-05 18:33] kauegimenes commented on #9
@papswell What you think about this implementation?

https://github.com/kauegimenes/jsonexport/tree/v2.0.0

[2017-06-05 18:35] kauegimenes commented on #19
@harshalyeole-tudip @jtlindsey v2.0.0 should support big collections using node.js streams https://github.com/kauegimenes/jsonexport/tree/v2.0.0

[2017-06-06 01:12] kauegimenes commented on #22
@decaller Should be fixed with https://github.com/kauegimenes/jsonexport/commit/7270f4873ba8e7fa87027ce52546c08122d7aaef

[2017-06-06 14:08] kauegimenes commented on #23
@sanderheilbron In v2.0.0 you can use the `headers` option to change the order.

[2017-06-06 14:08] #23 closed

[2017-06-06 14:09] kauegimenes commented on #22
@decaller In v2.0.0 you can use `fillGaps` option to get this behavior.

[2017-06-06 14:09] #21 closed

[2017-06-06 14:11] kauegimenes commented on #9
[code]

[2017-06-06 14:11] #9 closed

[2017-06-06 18:20] sanderheilbron commented on #23
Hi @kauegimenes I've used your code example, and nine times out of ten the order of headers is correct. I noticed that the order could change sometimes because of the data set, but this is no issue for me.

Before using this header option it was possible to rename the headers. I would like to know if there is still a possibilty to change the header name?

Thanks for your effort and the v2.0.0 upda

[2017-06-06 19:50] sanderheilbron commented on #23
Hi @kauegimenes v2.0.2 supports my code to rename headers.

[2017-06-06 19:57] kauegimenes commented on #23
@sanderheilbron Currently there is no way to rename headers, i will see if i can add this option later.
About the incorrect order, can you help me reproduce this bug?

[2017-06-06 19:58] kauegimenes commented on #23
@sanderheilbron v2.0.1 and v2.0.2 was only to get better performace.

[2017-06-06 20:06] sanderheilbron commented on #23
@kauegimenes v2.0.2 was the latest version when I installed the module. Just wanted to inform you about it.

Yes, I will check which data set results in a different order of headers.

[2017-06-06 20:20] kauegimenes opened #25 "Add support to rename headers"
[code]

[2017-06-06 20:20] kauegimenes commented on #23
@sanderheilbron What you think about this implementation to rename headers https://github.com/kauegimenes/jsonexport/issues/25 ?

[2017-06-06 20:26] sanderheilbron commented on #23
@kauegimenes Looks awesome! A lot cleaner than my current solution.

[2017-06-06 20:31] kauegimenes commented on #23
@sanderheilbron You should be able to use it with v2.0.4

[2017-06-06 20:31] #25 closed

[2017-06-06 20:34] sanderheilbron commented on #23
@kauegimenes I've checked all my test data sets, but none of those sets result in a incorrect order of headers. Consider this issue as resolved.

[2017-06-06 20:43] kauegimenes commented on #23
@sanderheilbron Thanks for the update.

Feel free to create another issue if you think about another useful feature!

[2017-06-06 20:54] sanderheilbron commented on #23
@kauegimenes I've tested the rename header option and it works like a charm. Thanks!!!

[2017-06-08 01:12] decaller commented on #22
thank you for the update, really appreciate it

[2017-06-08 14:13] Superlokkus opened #26 "jsonexport has huge (>300 MB) uncessasary json in installation dir"
When I install jsonexport via npm (even with --production),  there is always are big (ranging between 300 and 500 MB) json file, which just seems to be for the testing code. That's just ridiculous and makes deployment on e.g. AWS lambda harder than necessary.

File `project_path/node_modules/jsonexport/data.json`

[2017-06-08 17:03] kauegimenes commented on #26
@Superlokkus sorry about that, should be fixed on v2.0.6

[2017-06-08 17:03] #26 closed

[2017-06-09 09:09] Superlokkus commented on #26
Thanks it worked, although I would prefer to also get rid of the new 10MB data.json (you could create it in the test code), but now it's in a acceptable range.
Thank you for you work and time, and this very useful package.

[2017-06-09 13:37] kauegimenes commented on #26
@Superlokkus Yes, feel free to submit a PR for this if you want to.

Check https://github.com/kauegimenes/jsonexport/pull/27#issuecomment-307253783

[2017-06-15 09:32] saipallavi commented on #22
Hi,
I use similar kind of multi-array set. I am using the below input:

var test=[
  {
    "CODE": "AA",
    "GROUP_NAME": "aaaaaa",
    "GROUP_DESC": "aaaaaaaaa",
    "CHILD_GROUP": [
      {
        "CODE": "AA",
        "GROUP_NAME": "aaaaaa",
        "CHILD_CODE": "bb"
      },
      {
        "CODE": "AA",
        "GROUP_NAME": "aaaaaa",
        "CHILD_CODE": "cc"
      },
      {
        "CO

[2017-06-15 09:35] saipallavi opened #28 "First Child getting appended to the parent node"
Hi,
I use similar kind of multi-array set. I am using the below input:

var test=[
{
"CODE": "AA",
"GROUP_NAME": "aaaaaa",
"GROUP_DESC": "aaaaaaaaa",
"CHILD_GROUP": [
{
"CODE": "AA",
"GROUP_NAME": "aaaaaa",
"CHILD_CODE": "bb"
},
{
"CODE": "AA",
"GROUP_NAME": "aaaaaa",
"CHILD_CODE": "cc"
},
{
"CODE": "AA",
"GROUP_NAME": "aaaaaa",
"CHILD_CODE": "dd"
}
]
}
]
jsonexport(test,function(err, csv){
if(err

[2017-06-15 12:26] nerdomancer opened #29 "Csv encoding"
Operating system: Windows 10

If source json string fields contain special characters (ñ,ó,à,ô,è) and exported csv file is opened in Excel, the characters are replaced with Ã ¨ ©  ± Ã

This seems to be originating from the encoding. If I change the encoding to UTF-8-BOM with a text editor, then excel shows those characters correctly.

[2017-06-15 13:52] kauegimenes commented on #28
Duplicate https://github.com/kauegimenes/jsonexport/issues/22

[2017-06-15 13:52] #28 closed

[2017-06-16 03:54] saipallavi commented on #22
Can you please provide an update???

[2017-06-23 16:18] dozen1488 opened #30 "Double quote doesn't enclosed with quotes"
Strings like "smth \" string" doesn't enclosed with quotes, so any other csv to json parser can't read it propertly. So if a field of a json object contains " (double quote) will not parsed correct.
This problem is probably related to https://github.com/kauegimenes/jsonexport/pull/10 topic.

[2017-06-26 10:09] dozen1488 commented on #30
@kauegimenes I created pull request for this problem
https://github.com/kauegimenes/jsonexport/pull/31

[2017-06-27 08:56] Superlokkus opened #32 "Missing CSV headers for optional jsons"
When I stream multiple JSONs through jsonexport it seems to me that headers are only generated for fields which are present in the first JSON, so fields which are only there on subsequent JSONs, are without a header.

[2017-06-27 12:56] kauegimenes commented on #32
You have to use the headers option and list all headers.

[2017-06-27 14:33] dozen1488 commented on #30
Fixed in https://github.com/kauegimenes/jsonexport/pull/31

[2017-06-27 14:33] #30 closed

[2017-06-29 03:08] #32 closed

[2017-07-25 17:15] mwarnerdotme opened #33 "RangeError: Maximum call stack size exceeded"
I'll provide some background real quick. The original JSON object has a bunch of orders in a JSON array. I loop through this array, as shown in the beginning of the first image, and use the p21ify() Promise to format the data for each individual order. Once it's formatted, I would like to save that data to a .json and a .csv file.

I have an interesting problem, though. If I use the jsonexport() f

[2017-07-25 18:49] kauegimenes commented on #33
@mwarnerdotme Try using the jsonexport stream feature.

[2017-07-25 19:37] mwarnerdotme commented on #33
I think it had to do with scope. I moved the saveCSV method into the specific class that I was calling it from and it magically started working again. Not sure if it had to do with attaching it to the Object.prototype or if it needed to be moved to a scope within that for loop, but nonetheless it seems to me it was an issue with the scope of my method.

Either way, it works very well now. Sorry fo

[2017-07-25 19:37] #33 closed

[2017-07-31 13:36] nusu commented on #33
@mwarnerdotme can you send working code here? I also have same issue

[2017-08-23 18:28] AckerApple opened #35 "ES6 code package"
This package uses ES6 syntax, this suits most but I'm having to jump through hoops.

This file is causing me pain, with its arrow functions : https://github.com/kauegimenes/jsonexport/blob/master/lib/core/helper.js

When using Typescript, the node_modules folder is ignored for casting files. Files in node_modules folder, for Typescript, are expected to be in distribution format and no transpiling

[2017-08-23 22:06] AckerApple commented on #35
pull request #36 created

[2017-09-02 01:38] AckerApple commented on #35
Completed in #36

[2017-09-02 01:39] #35 closed

[2017-09-02 01:52] AckerApple commented on #22
I abolsutely think this issue should be closed.

@saipallavi, I have starred your example over for quite sometime. I disagree with you, I see expected result. A child-arrary's first row belongs with-in the parent row. If jsonexport did what you are asking for, it'd be a hard breaking change. Your "I need the output like this" example, would actually mean you have a 2nd parent who's CODE, GROUP_NAM

[2017-09-02 12:43] kauegimenes commented on #22
@AckerApple I think there is a way we can provide this behavior without breaking changes.
If we add a new option `handleArray(array)` that allows the user to change the array like the other handle functions.

To do this we could add this call
[code]
At: https://github.com/kauegimenes/jsonexport/blob/master/lib/parser/handler.js#L100

### Usage example
[code]

What you think about this @AckerApple

[2017-09-02 16:41] AckerApple commented on #22
My thought is that it will get awfully ugly and convoluted for arrays inside arrays, or array of objects with arrays.

I wouldn't approach this one as a catering company. Don't do, a change like this needs an accompanying document type. CSV doesn't have metadata by nature. You best stick to as little format variations as possible.

We can do anything, don't think we should for consistency sake

[2017-09-15 19:23] codepwner commented on #35
I'm not sure if I'm doing something wrong (beginner), but as part of webpack, I'm running UglifyJS for my Angular 4 project at build.  Currently I'm getting an error from this package because the package is using ES6 syntax. If I was reading correctly, I thought ES5 support this was built into the package with the referenced pull request.

![image](https://user-images.githubusercontent.com/2345916

[2017-09-15 19:58] AckerApple commented on #35
Please read the docs: https://www.npmjs.com/package/jsonexport#browser

You most likely have the wrong import statement and need to add "jsonexport/dist"

[2017-09-17 01:33] codepwner commented on #35
Thanks so much @AckerApple , you were correct.  I'll be kicking myself for a while for the dumb mix up. 🏆
🏆

[2017-09-25 00:43] LachieKimber opened #39 "JSON data under parent named "data""
Having an issue with getting the JSON data to delimit rows. I've tried reading through the documentation for jsonexport and had no luck.

Here is what the JSON data looks like when returned from an API:
[code]

As a result of all the data being inside of `"data": {}` it seems to all be stuck on a single row when exported into CSV format.

Here is the CSV output:
https://s26.postimg.org/ywxrqvz3t/S

[2017-09-25 01:12] LachieKimber commented on #39
Fixed!

`jsonexport(json_response.data, options,function(err, csv){`

That line did the trick.

[2017-09-25 01:12] #39 closed

[2017-10-27 20:15] jeffreydinh opened #40 "separate arrays into different records"
Is it possible to separate arrays in complex arrays into different records?

ie.
var contacts = [{
   name: 'Robert',
   lastname: 'Miller',
   family: null,
   location: [1231,3214,4214]
}];

name,lastname,family.name,family.type,family,location,nickname
Robert,Miller,,,,1231
Robert,Miller,,,,3214
Robert,Miller,,,,4214

[2017-10-27 21:03] AckerApple commented on #40
It’s doing so because “location” is a simple array.

Also you need to use the fillGaps option if you want the data to repeat for each row.

Loop your data to change it to this to get location to be on its own row:
var contacts = [{
name: 'Robert',
lastname: 'Miller',
family: null,
location: [{id:1231},{id:3214},{id:4214}]
}];

[2017-10-31 19:08] threepears opened #41 "NULL values being skipped"
I installed your module, and for the most part it is working great.  I am pulling data from a database and then feeding the result (in a "simple array" format) into your module to get a "csv" output.  However, when I went back and checked the resulting output, I noticed that my data did not match the order from the database.

More specifically, while all "NULL" values were converted to empty strin

[2017-11-03 14:02] kauegimenes commented on #41
@threepears Can you share the JSON? I cant reproduce your issue
[code]
Result
[code]

[2017-11-09 04:06] threepears commented on #41
@kauegimenes : thank you for getting back to me, and sorry for the lateness of my response.  I, unfortunately, cannot share the exact JSON, as that involves company information.  However, I can tell you that there were many columns (probably approaching 225) in the database, but the data was not complex .... it looked pretty much per my example above, just a much, much larger object.  Have you tes

[2017-11-17 17:07] kauegimenes commented on #41
@threepears I just tested jsonexport using a json with 300+ cols and i was unable to reproduce this bug, can you share at least 3 rows of your data you can randomize the data just keeping the data types?

[2017-12-02 15:55] #40 closed

[2018-02-14 22:10] akwilos commented on #29
I have this same problem. Do you know any solution for it? I need correct data as soon as possible. @kauegimenes

[2018-02-18 23:32] MonaiThang commented on #41
We found the same issue here.
What we found is the issue is reproducible on Ubuntu whereas Mac could not reproduce this issue.

For example, if JSON is
{
 'a' : 'another field',
 'b' : '',
 'c' : 'other field'
}

the csv column that jsonexport produce on Ubuntu is:
'a', 'b', 'c'
'another field', 'other field'

whereas on Mac is:
'a', 'b', 'c'
'another field', '', 'other field'

[2018-02-23 14:38] kauegimenes commented on #41
@MonaiThang Can you help fix this issue?
I don't have any computer running Ubuntu currently.

[2018-02-23 14:45] kauegimenes commented on #41
@AckerApple Can you reproduce this issue?

[2018-02-23 14:53] AckerApple commented on #41
My thought was to see if a unit test could be made and run against Appveyor or Travis

But I don’t even know if they run a Ubuntu instance.

I’ll spend a ounce of time researching. Brb

[2018-02-23 15:57] AckerApple commented on #41
I flat out tried a lot to get jsonexport to fail in regards to nulls. It's working as expected everywhere I test.

I added the discussed tests from this issue into the jsonexport unit tests and ran them everywhere.

I read a lot about Travis's testing and added settings to ensure jsonexport is tested on a Ubuntu instance.

I added Appveyor CLI testing. All tests pass. Appveyor tests Windows.

I te

[2018-02-23 15:58] AckerApple commented on #41
FYI pull request #46 is a result of this issue report. I just added more testing measures

[2018-03-08 12:14] kauegimenes commented on #41
Thanks for the help @AckerApple!
I will try installing Ubuntu in a VM this weekend
@MonaiThang Can you try debug the module to understand why this is happening?

[2018-03-19 15:52] xorbis opened #47 "UglifyJs error"
I get this using webpack  3.11

[code]

[2018-03-19 19:43] AckerApple commented on #47
My best guess is webpack is having a tough time with this code: https://github.com/kauegimenes/jsonexport/blob/master/lib/core/escape-delimiters.js#L26

I will not be performing additional testing or research on this issue. That is my guess. Try editing that file in your local copy and turn the ? statement into an IF ELSE, if it works then we can talk more.

[2018-03-19 19:52] xorbis commented on #47
The error was on line 13
https://github.com/kauegimenes/jsonexport/blob/master/lib/core/escape-delimiters.js#L13
A let statement...

Changing it to var works but fails on the next let statement.

[2018-03-19 19:56] AckerApple commented on #47
Ohhhh shit, you are trying to webpack..... duh... one second

[2018-03-19 19:56] AckerApple commented on #47
Please read the documentation on using json-export in the browser and you'll be fine:

https://www.npmjs.com/package/jsonexport#browser

[2018-03-19 19:57] AckerApple commented on #47
Please close issue when satisified

[2018-03-19 19:58] xorbis commented on #47
import jsonexport from "jsonexport/dist";
Thank you sooo much!
Cheers from Quebec/Canada!

[2018-03-19 19:58] #47 closed

[2018-03-19 20:07] AckerApple commented on #47
Hey Quebec/Canada, you're using TypeScript? Hell yeah, Angular5? I swear I've seen your face on other issue reports.

Besides the point, an Angular5 project needed in-browser exporting which brought me to jsonexport last year which was NOT webpack compatible until I added it and became a contributor of this package.

I do love this package a lot. It has made my exporting life, in browser especiall

[2018-03-20 00:14] xorbis commented on #47
Our stack is... https://stackshare.io/leadfox/leadfox
I fell in love with VueJs's simple setup and lightness.

We use jsonexport to Promise.each() multiple Rest API requests over millions of contacts for CSV exports.
With jsonexport we can let the web client work instead of preparing the CSV server-side.

Thanks again.

[2018-03-20 14:38] kauegimenes commented on #41
Just tested the module with Ubuntu 17, all tests ok.
[code]
[code]
[code]
[code]

[2018-03-20 14:38] #41 closed

[2018-04-26 18:50] Roger13 opened #48 "Handling node Buffer"
I'm trying to export objects that contain an id field, whose value is a node Buffer instead of a String. Is there a way I can easily cast the Buffer to a String? Otherwise I get a header for each byte in the buffer.

[2018-04-26 19:04] kauegimenes commented on #48
@Roger13 Maybe if you modify handleObject https://github.com/kauegimenes/jsonexport/blob/master/lib/parser/handler.js#L82
 But currently this module does not support a custom object handler.

[2018-04-26 19:12] kauegimenes commented on #48
[code]

https://github.com/kauegimenes/jsonexport/pull/49

[2018-04-26 19:15] kauegimenes commented on #48
@AckerApple What you think about this?
I think it's not nice to make the user return an array with `item` and `value`
also calling the originalHandler should be done by the module not the user.

[2018-04-26 19:34] AckerApple commented on #48
really busy at the moment bu @kauegimenes you know I love to pick apart code.

I will provide a response within maximum 48 hours

[2018-04-26 20:32] kauegimenes commented on #48
Thanks @AckerApple =) take your time!

[2018-04-26 22:41] Roger13 commented on #48
I havent looked down this project source code yet, but since there isn't an 'handleObject' option yet, I could open a PR implementing it!

[2018-04-27 02:32] AckerApple commented on #48
I put in some real time for this issue report which is now feature request.

Please review #49 and my comments in it

[2018-04-27 17:45] AckerApple commented on #48
We will have a release for this relatively soon-isc. Most all work done

[2018-04-27 21:27] AckerApple commented on #48
We have published code for this issue to become resolved. Please test and report back and/or close this issue.

Thank you in kind, in advanced

[2018-05-08 19:33] kauegimenes commented on #48
@Roger13 Please report back so we can close this issue.

[2018-05-08 19:57] Roger13 commented on #48
Unfortunatelly I went on a different direction and ended up using `JSON.parse(JSON.stringify(data))` to convert all buffers to string. I wont be able to test this anywhere soon, but feel free to close this issue.

[2018-05-29 12:09] virginielgb commented on #29
Hi,
I had the same problem, but adding `\ufeff` before the csv data when writing the file fixed it for me.

[code]

Hope this helps!

[2018-06-07 17:01] shivanikohlii opened #50 "Only parse specific headers"
**Is there a way I can parse only specific headers?**
For instance, only convert  name and family to csv format.
Expected output : name, family.name, family.type

var contacts = [{
   name: 'Bob',
   lastname: 'Smith',
   family: {
       name: 'Peter',
       type: 'Father'
   }
},{
   name: 'James',
   lastname: 'David',
   family:{
       name: 'Julie',
       type: 'Mother'
   }
},{
   name: '

[2018-06-07 17:58] AckerApple commented on #50
My quick opinion is that this libraries one sole job should just be to convert. Meaning convert only and limit extra functionality to another package.

I feel it is your responsibility and duty to have your data modified before before this package does its main job. You should clone, loop, and reformat your data is my suggestion.

I could be wrong. I am one of several contributors to this package

[2018-06-07 18:13] shivanikohlii commented on #50
That a justified belief, I was just curious if the feature was already specified as some other libraries do have that feature. It just makes the process quicker and easier. Thanks for your reply!

[2018-06-07 18:18] AckerApple commented on #50
In my experience, and I hope you agree, a function should do no more than one job or as little tasks as possible because it often doesn't always do both jobs (waste in file size, processing conditions...) and the more code the more to consider when upgrading (scalability factor).

The big wind above said, I hope you can agree that this package should do less and you should be open to use a like lo

[2018-06-07 18:51] #50 closed

[2018-06-14 16:31] AckerApple opened #51 "Make more compatible for browser use. Pass TypeScript checks"
When compiling code for updated versions of TypeScript, it now checks the require statements and several errors are being thrown:

[code]

It seems require('stream') and require('os') are not even really needed for the browser. The EOL can just be backslash "\n" in the browser. And stream is not needed if a callback is provided.

I manually edited the node_modules/jsonexport files and all came out

[2018-06-14 17:01] kauegimenes commented on #51
I will be avaliable for the publish, but i already added you as a collaborator so you should be able to publish

[2018-06-15 13:30] AckerApple commented on #51
I'm going to try and publish this code to npm. I feel real confident of it and in need of it for my team.

[2018-06-15 13:31] kauegimenes commented on #51
@AckerApple go for it!

[2018-06-15 13:32] AckerApple commented on #51
Published. I really am humbled and extra appreciative of being entrusted to maintain and publish this package. Quite the honor.

[2018-06-15 13:32] #51 closed

[2018-06-15 13:33] kauegimenes commented on #51
@AckerApple I am honoured to have you helping maintaining this package!
Really, thanks Acker!

[2018-06-15 13:36] AckerApple commented on #51
Would be cool to cross your path someday. Your github icon is soulfully great to see, zoomed in to see you got a smile. Little things, the little things.

[2018-06-15 14:44] kauegimenes commented on #51
Yes, i want to meet you too! send me an email (check my gh profile) with your skype, whatsapp or telegram info =)

[2018-07-12 15:40] AckerApple opened #53 "Add options controls to web based testing interface"
This issue/request most likely will be handled by me. I want checkboxes and/or inputs that control the output of the web based jsonexport interface such as **textDelimiter**

[Demo Link](http://kauegimenes.github.io/jsonexport/demo/)

[2018-07-12 15:41] AckerApple commented on #53
Also when the page loads, all the test data is tabbed in one tab. Remove this single tab

[2018-07-22 15:59] rdvnkrtl commented on #29
@virginielgb  Your tactic worked for me. Thanks!! But, What is '\ufeff'? What did you use this? May you explain or give a link about it?

[2018-07-22 19:37] nerdomancer commented on #29
@rdvnkrtl it is the byte order mark bits in the beginning of the file. See from [here.](https://www.wikiwand.com/en/Byte_order_mark)

[2018-07-23 08:10] rdvnkrtl commented on #29
Thank you @nerdomancer

[2018-08-09 12:24] jasonmacgowan opened #55 "Allow end user to transform headers as desired"
see #54

[2018-08-21 18:13] rjsteinert opened #56 "Distribute as an ES6 Module"
Hi there - Great library! I would love if I could include this in my projects that use ES6 modules.

[2018-08-21 20:29] AckerApple commented on #56
Yes, and I put a lot of work into that... The readme docs covers it. Just search "browser" at readme file

[2018-08-22 15:41] rjsteinert commented on #56
Hi @AckerApple - That's cool you can use this in TypeScript. The TypeScript transpiler must have support for the CommonJS Module standard you are using. Unfortunately that does allow us to import your module in our ES6 code without some extra build steps.

[2018-08-22 17:04] AckerApple commented on #56
@rjsteinert, you are way off point and assuming much...

Here, one line of code from this package: [package.json babel build step](https://github.com/kauegimenes/jsonexport/blob/master/package.json#L10)

TypeScript? I import this package using TypeScript but ...... Listen, just import that damn thing. I made it browser universal and now this is several messages deep on a subject you could have jus

[2018-08-22 19:43] rjsteinert commented on #56
No worries man. I'm referring to ES6 modules in the browser with are not compatible with the node.js `require` method (CommonJS) for including dependencies that is being distributed in your package.

[2018-08-22 19:43] #56 closed

[2018-08-23 11:42] #48 closed

[2018-09-12 19:54] #55 closed

[2018-12-06 19:26] anuj1405 opened #57 "Wrong output in multi-array set"
This is the JSON:

[code]

and the output we are getting is

![screen shot 2018-12-07 at 12 52 52 am](https://user-images.githubusercontent.com/15701244/49607001-d6eeaf00-f9ba-11e8-877b-b060b9665b98.png)

See the column "customizationInfo.surfaces.areas.optionImage". The value should be there on the 2 row instead of first

Thanks

[2018-12-06 22:39] kauegimenes commented on #57
@anuj1405 this is a feature. please check https://github.com/kauegimenes/jsonexport/issues/22
You should use `fillGaps: true` to get the **optionImage** filled in both rows

[2018-12-06 22:41] kauegimenes commented on #57
Oh now i see whats happening, indeed this is a bug. and its prob caused by #22

[2018-12-06 22:41] kauegimenes commented on #57
We are always looking for new contributors, you want to help us fix this issue? feel free to start a PR on this =)

[2019-01-18 03:19] Jeff-Tian opened #58 "Question: How to use it in async/await fasion?"
I can use it as:
[code]

Any better suggestions?

[2019-01-18 12:42] AckerApple commented on #58
I don’t use `await new Promise`, I use just new Promise with a then attached to it.

But otherwise, I promise jsonexport relatively the same way you demonstrated above

[2019-01-21 06:48] Jeff-Tian commented on #58
Yes I agree `await new Promise` is ugly, so is there any better way to improve it?

For example, the json-2-csv repo support the traditional node js fasion

[code]

and at the same time, it exposes an async/await fasion:

[code]

Is this repo jsonexport exposes a -Async like method as well?

[2019-01-21 14:17] applecod commented on #58
This library has no async function beyond a callback as far as I know.

I’m an Angular guy and I use Observables over Promises but absolutely I still use Promises.

One day it might be Promises someone needs. Another day it’s Observables. And then another day someone wants functional Ramda like access.

In whatever project I’m on that needs jsonexport, I just add one function that wraps jsonexport

[2019-01-24 02:16] Jeff-Tian commented on #58
Yes, thank you. I'm good with wrapping it with new Promise(), and `jsonexport` is really helpful for converting json to csv in my project.

[2019-01-24 02:16] #58 closed

[2019-02-26 15:57] senyaak commented on #29
This is not a bug in the library. Not everyone use utf-8.

[2019-02-27 13:09] senyaak opened #59 "Promise API"
I would be nice to have Promise instead of callback

[2019-02-27 15:20] AckerApple commented on #59
#58

[2019-03-05 19:26] dovk commented on #29
Yes, I found that **`'\ufeff' + csv`** somwhere else - worked great!

[2019-03-25 00:33] vasuh opened #60 "Ability to select the columns of interest"
Hi,

I have a json to be converted to csv which seems to be doing fine with jsonexport.
In addition, I have used the headers and rename options to specify the header and equivalent names and its working well.

The json object has a number of fields and I am interested in a subset of them. Is this possible?. For eg, if the column headers are field1, field2, field3.. etc, say I need only field1 and

[2019-03-25 01:34] AckerApple commented on #60
If you send jsonexport only the data you want to export, then you will have the data you want exported.

Basic simple JavaScript should be used to manipulate your data to exactly what you want exported, and then you export it.

If jsonexport did everything for us, I’d play pinball all day

[2019-03-25 01:47] vasuh commented on #60
Thanks for the response.
Thats OK, wanted to make sure if there was an option I wasnt aware of /using incorrectly.

[2019-05-10 13:48] harshithmatriot commented on #29
Not able to use fs,

[2019-05-10 13:49] harshithmatriot commented on #29
Error with fs, not able to install fs. Can anyone help

[2019-05-10 14:27] senyaak commented on #29
First of all you need to understand what 'fs' is. https://nodejs.org/api/fs.html
After that you'll understand - that this is not an issue of 'jsonexport'

[2019-05-10 15:14] AckerApple commented on #29
Just throw this out there. When I updated to the latest NodeJs 12.2.0, some of my packages had errors due to deprecated `require('fs')` functionality. For instance, `fs.exists()` produced some hard to understand binary issue.

That all maybe unrelated but I did have to go back and update my own packages as of yesterday.

[2019-05-13 17:10] Matt-st opened #61 "Question: My timestamp is getting truncated to year month day, How can I fix this?"
Hey folks,  I am using jsonexport to convert to csv.  My timestamp field which comes from a database query is being truncated when I convert to csv. I expect it to stay the same.

What I expect? ( and see when this is printed in json)
"last_modified_date":"2018-10-26T19:17:01.447Z"
What I get?
"last_modified_date":"2018-10-26"

My code is very simple.
``` jsonexport(output.rows,{rowDelimiter: '|',

[2019-05-26 13:14] markwynter commented on #57
I've got similar problem.  I've set FillGaps = true, but subscriber1 CustomFields values not shifting down in CSV. The JSON data is from Campaign Monitor API.  Simple input and output files attached to demonstrate problem.  What support do you need to fix the bug?
[Archive_CM.zip](https://github.com/kauegimenes/jsonexport/files/3220341/Archive_CM.zip)

[2019-06-18 20:09] toxuin commented on #57
This is still broken. Renders jsonexport unusable for my usecase.

[2019-12-04 16:42] xp4u1 opened #62 "Vertical Output"
The vertical output option isn't working.

[code]

The output is with `true` **and** `false`:

[code]

But should be:

[code]

[2020-01-17 05:56] srigiri92 opened #63 "No option to ignore fields / limit fields to export ?"
Currently Say I've json,
{
"firstName":"John"
"lastName":"Joe"
}

While Exporting can I export only "firstName", Is that possible ?

[2020-01-17 06:23] srigiri92 commented on #63
One alternate solution ,

omit fields before exporting , I've done using Lodash **_.omit(jsonArray, fields)**

[2020-01-17 06:23] #63 closed

[2020-01-20 05:45] m-prof opened #64 "large files not converting"
I have a series of JSON which are only about 100k (or greater) in size. But when I try to convert I get an empty file. Smaller files convert fine.

This is from within a Windows 10 environment.

[2020-03-02 15:27] akhilchandran commented on #64
I am having same Issue, When using stream, Also found that issue is with

It happens for last chunk which happen to be at the smaller than the last stored json part.

[2020-03-28 03:57] max-pain commented on #41
Hello, I have encountered the described problem on a Mac (10.15)
Empty and null values are skipped and the value from a line below is inserted into the skipped row and the last line is duplicated to fill the empty field at the end.

JSON
`[
    {
        "id": 28374928374,
        "items": [
            {
                "variant_id": 345635638378,
                "properties": [

[2020-04-04 09:19] pietkamps opened #65 "(I think I) found a bug"
I think i found a bug. When i run the following code:

var jsonexport = require('jsonexport');
var invited =
[
    {
        day : "1",
        time : "12:00",
        persons :
        [
            {name: 'Bob',
             lastname: 'Smith'},
            {name: 'James',
             lastname: 'piet'},
            {name: "",
             lastname: 'Miller'},
            {name: 'David',

[2020-04-06 04:46] cbschuld commented on #65
@pietkamps - just downloaded jsonexport myself and encountered the exact same bug.

[2020-04-19 04:42] max-pain commented on #65
i have encountered the same bug with my empty strings.
mac os

[2020-04-19 15:40] AckerApple commented on #65
An online demo tool exists for jsonexport and I used it to check the mentioned data call outs.

Online tool link: https://kauegimenes.github.io/jsonexport/demo/

Here is valid JSON for this tickets mentioned issue. It does NOT convert correctly (bug found)
[code]

Invalid result line 3:
[code]

**Expected** Result for line 3:
[code]

I don't know when but I will attempt a fix in the near future.

[2020-05-23 12:29] kauegimenes commented on #65
@pietkamps I finally got a little time to catch up with jsonexport :)
I just opened a PR that fixes this issue https://github.com/kauegimenes/jsonexport/pull/67
@AckerApple can you do a code review?

[2020-05-23 12:54] kauegimenes commented on #61
@Matt-st sorry for the delay, since a `Date` is an `Object` you should do something like this:
[code]

[2020-05-23 13:10] kauegimenes commented on #57
@anuj1405 @markwynter @toxuin I introduced a new option to jsonexport called fillTopRow that should be desabled by default.
After this PR gets merged you guys should be able to get the expected results.

[2020-05-23 13:20] kauegimenes commented on #60
@vasuh I will consider adding an option to filter a subset of headers.

[2020-05-23 13:22] kauegimenes commented on #22
@saipallavi should be fixed in `3.0.0` after https://github.com/kauegimenes/jsonexport/pull/68 gets merged

[2020-05-23 13:27] kauegimenes commented on #62
@xp4u1 currently the vertialOutput only works if you are sending an object to jsonexport.

I will keep this issue as an enhancement to add support for vertialOutput for **Arrays**

[2020-05-23 13:29] kauegimenes commented on #64
@m-prof r you using the stream feature from jsonexport?
@akhilchandran i will try to reproduce this later.

[2020-05-23 13:38] kauegimenes opened #69 "typeHandlers tests & more samples"
Currently we are skipping all handlers tests, we should update these tests to match the new API https://github.com/kauegimenes/jsonexport/blob/master/tests/options.js#L185

Also we should consider adding more examples on how to use typeHandlers, check https://github.com/kauegimenes/jsonexport/issues/61

[2020-05-23 15:03] kauegimenes commented on #63
Related with https://github.com/kauegimenes/jsonexport/issues/60

[2020-05-24 00:00] m-prof commented on #64
I am just using the basic command listed on the main page (http://kauegimenes.github.io/jsonexport/),
`jsonexport <JSON filename> <CSV filename>`.
Gives me an empty file. Is there an option I should be using?

For reference I attach a sample file.
[sample.zip](https://github.com/kauegimenes/jsonexport/files/4672724/sample.zip)

[2020-05-24 16:47] kauegimenes commented on #64
@m-prof can you try again using the branch `bugfix/stream-memory-limit`?

[2020-05-24 17:07] m-prof commented on #64
Thanks! But I am still getting an empty file. You can confirm with the sample file I sent.

[2020-05-24 17:11] kauegimenes commented on #64
@m-prof i did test with the sample you provided and got a csv with 322 lines.

try this:
[code]

[2020-05-24 17:25] m-prof commented on #64
OK good it is something on my end! Are you doing this within Windows 10?

I am not sure how to execute those commands you mentioned within Win 10 (e.g. if try `jsonexport.js sample.json output.csv` I get a microsoft jscript compilation error

[2020-05-25 15:44] AckerApple commented on #65
Fix released as version 2.5.0

Please acquire. Please note we are going to a version 3.0.0 soon

[2020-05-25 15:45] AckerApple commented on #65
NEW: You should be able to jump to [this url to see proof of this fix](http://kauegimenes.github.io/jsonexport/demo/?json=[%20%20{%20%20%20%20%22day%22:%20%221%22,%20%20%20%20%22time%22:%20%2212:00%22,%20%20%20%20%22persons%22:%20[%20%20%20%20%20%20{%20%20%20%20%20%20%20%20%22name%22:%20%22Bob%22,%20%20%20%20%20%20%20%20%22lastname%22:%20%22Smith%22%20%20%20%20%20%20},%20%20%20%20%20%20{%20%20%20%

[2020-05-30 15:41] #65 closed

[2020-05-30 15:43] kauegimenes commented on #64
@m-prof can you try using `jsonexport@2.5.2`? i just published this version to npm, this should fix your issue

[2020-05-30 15:44] #61 closed

[2020-05-30 15:46] kauegimenes commented on #53
https://github.com/kauegimenes/jsonexport/pull/66#issuecomment-635073544 :tada:

[2020-05-30 15:46] #53 closed

[2020-05-30 15:47] #29 closed

[2020-05-30 21:38] #69 closed

[2020-05-30 21:45] #57 closed

[2020-05-30 21:47] kauegimenes commented on #64
@m-prof feel free to reopen this issue if this fix does not work for you.

[2020-05-30 21:47] #64 closed

[2020-05-30 21:48] kauegimenes commented on #59
@senyaak Promise API is now supported in `jsonexport@3.0.0` :)

[2020-05-30 21:48] #59 closed

[2020-05-30 21:49] kauegimenes commented on #22
@saipallavi `jsonexport@3.0.0` got released, feel free to reopen this issue if you still get the incorrect output.

[2020-05-30 21:49] #22 closed

[2020-06-12 23:45] m-prof commented on #64
Thanks so much kaue! This works now for me, for all files I checked.

I did have a follow-up on speed: things slow down for files 1.5M or higher. For me  (Win 10 Pro, Surface Pro, 16G RAM, Intel i7-7660U) when I tried a 3.9M file it took 42 minutes (command: `jsonexport <json_filename>  <output_filename>`. Is this sort of time to complete expected?

[2020-06-12 23:47] m-prof opened #75 "speed question/issue"
Thanks so much kaue! This works now for me, for all files I checked.

I did have a follow-up on speed: things slow down for files 1.5M or higher. For me (Win 10 Pro, Surface Pro, 16G RAM, Intel i7-7660U) when I tried a 3.9M file it took 42 minutes (command: `jsonexport <json_filename> <output_filename>`. Is this sort of time to complete expected?

[2020-06-12 23:51] kaue commented on #75
@m-prof can you try running the `benchmark/benchmark.js`?

[2020-06-12 23:59] m-prof commented on #75
Sorry for being a noob but I am not getting this to work: I am trying `~\jsonexport\benchmark>node benchmark.js` from a command prompt and I get error messages:
`internal/modules/cjs/loader.js:976
  throw err;
  ^

Error: Cannot find module 'benchmark'
Require stack:
- ~\npm\node_modules\jsonexport-master\benchmark\benchmark.js
[90m    at Function.Module._resolveFilename (internal/modules/cjs/loa

[2020-06-13 00:10] kaue commented on #75
@m-prof you are almost there :)
try running `npm install` first

[2020-06-13 00:52] m-prof commented on #75
Thanks. Not sure if this is sufficient but here is the output (there was a bunch of error messages also as well, let me know if I should post):

npm\node_modules\jsonexport\benchmark>node benchmark.js
Executed benchmark against node module: "jsonexport"
Count (1), Cycles (1), Elapsed (512.53 sec), Hz (0.00975936285335975 ops/sec)

Executed benchmark against node module: "jsonexport-stream"
Count (

[2020-06-15 16:26] gannons opened #76 "Column values with zero (0) are being replaced with """
Noticed that on upgrading from `2.4.1` to `2.5.2` (and also `3.0.0`) that the library has started to convert columns with integer values of 0 into "".

From a quick look through the code I think this happened due to

    const fillAndPush = (row) => rows.push(row.map(col => col || ''));

https://github.com/kaue/jsonexport/blob/master/lib/parser/csv.js#L89

committed in

https://github.com/kaue/jso

[2020-06-15 16:48] kaue commented on #76
Indeed looks like the problem is because we are doing `col || ''` at
https://github.com/kaue/jsonexport/blob/master/lib/parser/csv.js#L89

Thats an pretty easy fix, i would replace that with something like `col == null ? '' : col`
Feel free to open a pull request for this fix if you have time. Otherwise i will prob work on this later tonight.

We should probably include a test to make sure this do

[2020-06-17 16:24] kaue commented on #76
should be fixed in jsonexport `v3.0.1`

[2020-06-17 16:24] #76 closed

[2020-07-07 20:05] iuabhmalat opened #78 "Complex JSON array - unexpected behavior"
Hello,
I am using jsonexport library to convert a complex JSON object into csv, and running into some unexpected behavior. Here's my code-
[code]

The actual output is -

[code]

(Pasting tabular format for visibility):
id | resourceType | meta.profile | meta.tag.system | meta.tag.code | category.coding.system | category.coding.org | category.coding.display | benefits.coding.system | benefits.codi

[2020-07-21 12:42] Zozor54 opened #80 "Need Help : Complex Json Array to CSV"
Hi,

I'm trying to convert a large json array to a CSV.

My json array is provided by a mongodb query.
My code :

`const stream = mong.getRandomDataWithLimit(10, count);
const output = fs.createWriteStream("./data/export/"+name+".csv")
stream.pipe(jsonArrayStreams.stringify()).pipe(output);`

My CSV doesn't have any header and start at line 3.
What's is wrong please ?

[2020-07-21 13:28] AckerApple commented on #80
Mentioning in case it help, an online demo with options you can play with, is here:
https://kaue.github.io/jsonexport/demo/

[2020-09-21 23:51] 9thstudio opened #83 "Json Complex Example"
I see in JSON complex example, CSV format is as below. It doesn't look like CSV format. And how can this be converted to back to JSON. I tried different CSV to JSON module but none of them work.

Actually, I like this format, it's looks easier for language writer open in excel and see all keys in one columns and values in next but can't convert back to JSON.

cars,12
roads,5
traffic,slow
speed.max

[2020-09-24 15:17] marcelofinchain opened #84 "JSON Array not converting to CSV"
Hi there,

My array does not have keys. Not sure if that is the reason why it is not being converted. All other more plain vanilla JSON files worked but not this one. Any clues why? Here is my sample:

[
  [ 'funding', 'USD', 5.86362147, 0, 5.86362147, null, null ],
  [ 'funding', 'BTC', 0.0050514, 0, 0.0050514, null, null ],
  [ 'funding', 'BTG', 0.0050514, 0, 0.0050514, null, null ],
  [ 'fundin

[2020-10-19 13:15] g-ongenae opened #85 "TypeError: this._options.handleDate is not a function"
Exporting an object with a `Date` throws an error `TypeError: this._options.handleDate is not a function` when it should be exported as a local date format as the default `handleDate` function is implemented:

https://github.com/kaue/jsonexport/blob/f486a71432d6ea6ab321554a2dd43418c107b418/lib/parser/handler.js#L181-L189

### Minimal reproduction

[code]

### Error trace - Actual output

[code]

#

[2020-10-19 13:19] g-ongenae commented on #76
Still having this issue. (ts-node: v9.0.0, nodejs: 14.13.1, jsonexport: v3.0.1)

[2020-10-19 13:48] AckerApple commented on #85
Ok, I can certainly be a resource to look this over. I am making life changes so I have to estimate 14 days max for me to solve. If you know TypeScript rather well and open source PR’s and such, you absolutely could solve this “yourself” and issue a PR.

Thank you kindly for reporting.

[2020-10-19 14:11] g-ongenae commented on #85
No problem, opening asap.

[2020-10-21 12:17] MelissaSnell opened #87 "Question. What is expected behaviour when exporting objects where some do not have all fields in header"
Hi there

Really like how easy your library is to use :-)

I have a JSON array of objects , where the objects may or may not have all of the fields in the header.

What I am seeing in the output is that missing fields in the "middle" of the header correctly have  ",,," but I don't think that trailing commas are being added for fields missing at the end of a row.

So I have some rows that have all

[2020-10-21 12:20] AckerApple commented on #87
Build an example of your issue here:
https://kaue.github.io/jsonexport/demo/

Then include annotated screen capture highlighting issue on that page.

We need better examples and illustrations from you please and thank you

[2020-10-21 14:10] MelissaSnell commented on #87
I think that the issue happens when you get child objects that may not have the same fields for each record. I have updated the demo JSON with an "interests" object.

I looked at the header and then made sure that someone with a nickname had the Interests object.

As a result, Bob and James are not correct because they are missing trailing commas to complete the line.
Only David has the correct nu

[2020-10-21 14:36] AckerApple commented on #87
[Simplified direct link to reproduce issue here](https://kaue.github.io/jsonexport/demo/?json=[{%22name%22:%22Bob%22,%22lastname%22:%22Smith%22,%22family%22:{%22name%22:%22Peter%22,%22type%22:%22Father%22},%22interests%22:{%22music%22:%22jazz%22}},{%22name%22:%22James%22,%22lastname%22:%22David%22,%22family%22:{%22name%22:%22Julie%22,%22type%22:%22Mother%22},%22interests%22:{%22books%22:%22pulp%20

[2020-10-21 14:39] MelissaSnell commented on #87
Sure - not a problem. If we can contribute then I will have a go if I can find some time! Same for all of us :-)

[2020-10-22 00:47] #85 closed

[2020-10-22 01:09] AckerApple commented on #87
@MelissaSnell I just noticed pull request #81 might just be your fix. It has conflicts right now but if worked out I believe it aims to address your issue

[2020-10-22 01:12] AckerApple commented on #83
This package is not about converting back. This issue appears stale and not having any activity

[2020-10-22 01:16] AckerApple commented on #78
We’ve had similar callouts with keywords of “complex array”. However the details here are too large scale for someone donating there time to pick up and run with. I wish the provided details and example were reduce to a small easy to understand scope.

[2020-10-22 01:23] kaue commented on #84
Thats interesting, i believe we currently don't have support for converting arrays of string arrays to csv.
I may take a look on this when i have some free time.

[2020-10-22 01:25] kaue commented on #83
Agreed, this is out of our scope. try looking for another package that can help you with this.

[2020-10-22 01:25] #83 closed

[2020-10-22 01:27] kaue commented on #80
@Zozor54 It would be better if you could provide a sample json to help us understand whats happening.
If you can, please reopen this issue with some extra information

[2020-10-22 01:27] #80 closed

[2020-10-22 09:34] MelissaSnell commented on #87
Great! I will take a look. Thank you.

[2020-11-11 12:22] lordlycastle opened #89 "typeHandlers is not part of UserOptions"
I'm using `3.0.1` version of this package and `3.0.0` version of `@types` package. It doesn't have `typeHandlers` option in `options: UserOptions` argument. This fails the typescript from compiling and fails.

[2020-11-11 13:43] AckerApple commented on #89
I don’t think we control the @types package as I believe thats auto or near manually created.

I have no immediate help to offer.

[2020-11-12 07:08] g-ongenae commented on #89
It is manually created, I did it. Also, I noticed the missing UserOptions and created a PR on @types about one month ago, but it hasn't been merged due to the lack of review. If you review, it should be published quickly by @types' bot: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48973

[2020-12-30 12:27] gregz07 commented on #85
Why haven't this change been published in a new version already ? I see it's has been merged couple months ago.

[2020-12-30 15:58] kaue commented on #85
sorry for the delay i just published v3.1.0 @gregz07

[2020-12-30 16:11] gregz07 commented on #85
Not at all, I just waited a few hours. Thank you for your work!

[2021-02-04 14:35] ChazUK opened #91 "CLI: Json Complex Object outputting all keys as headers"
I have a complex JSON object in a file that when running via the CLI outputs the keys as headers

`jsonexport complex.json output.csv`

complex.json
[code]

output.csv
[code]

but running it via the online demo page https://kaue.github.io/jsonexport/demo/?json={%22complex%22:{%22object%22:1,%22that%22:2},%22has%22:3,%22nested%22:{%22keys%22:true}}&options={}

it comes out as expected

[code]

[2021-02-04 15:18] AckerApple commented on #91
Acknowledged but not expecting immediate reaction without tighter connection to what is the cause.

I have an educated guess: The options in the demo, even when blank/default I believe, are still sending those blank/default values which perhaps are being seeing as altering arguments...

If you catch my drift above, our goal would be to console log the options in the demo and then exactly send thos

[2021-02-04 16:39] ChazUK commented on #91
Console logged `options` var from the [gh-pages branch](https://github.com/kaue/jsonexport/blob/gh-pages/demo/src/index.js#L45) and it's an empty object. `verticalOutput: true` is still set as the default.

[2021-02-04 16:53] ChazUK commented on #91
edited the code and ran `./node_modules/jsonexport/bin/jsonexport.js a.json b.csv` to output the CLI options

[code]

which matches the default options of

[code]

Not sure if this matters but your `bin/jsonexport.js` which I'm guessing is what the command line uses is referring to lib/index.js rather than dist/index.js

[2021-02-04 17:02] AckerApple commented on #91
Hmmmmmm, nothing definitive coming from that... It was an educated guess at best but if no answers coming from that than we need more research and debugging

[2021-02-04 17:07] ChazUK commented on #91
The loaded file is being consumed as

[code]

looking into why, are you happy for me to create a PR once I find a fix?

[2021-02-04 17:12] ChazUK commented on #91
Looks like this is the culprit, https://github.com/kaue/jsonexport/blob/master/lib/core/stream.js#L45

[2021-02-04 17:28] AckerApple commented on #91
By all means. Create the PR please and thank you. It may sit for a little due to schedules and such. I am just acting as front line communications, for this issue, so do not gain expectation of fast action.

[2021-05-07 07:43] moh-altimimi opened #96 "Exporting a dataset with a hashtag (#) in a string breaks CSV"
Hi,

I am using jsonexport to download on screen data as CSV. Whenever the dataset has a # in one of the string properties, the downloaded CSV cuts off from the first # it comes across - and the rest of the data disappears.

Eg:

`{ name: "Bob", age: 24, description: "Blah blah # hello" }`

Outputs in the CSV as

Name,age,description
Bob,24,Blah blah

I am using jsonexport with default options.

[2021-05-10 20:27] moh-altimimi commented on #96
It was the way we were linking the download, weren't encoding the exported string.

[2021-05-10 20:27] #96 closed

[2021-09-20 09:56] setheal opened #102 "Stream does not support typeHandlers option"
Hello,

I'm currently using the version `3.2.0` with the stream mode and apparently it's not possible to pass the `typeHandlers` options.

I checked a bit the code and I think the issue is located here : https://github.com/kaue/jsonexport/blob/4a498777bab79dac88d32515b7ebd2086d8c6f41/lib/index.js#L56

[2021-09-20 13:36] AckerApple commented on #102
A recommendation for more details as to what you are trying to accomplish and how you are trying to accomplish that.

I'm not able to connect enough dots with the information provided. I do assume you are trying to pass in individual typeHandlers but I can't related that to the coded provided.

If you do perhaps understand there is an issue and room for improvement, perhaps make a PR to better ill

[2021-09-21 08:28] setheal commented on #102
Yes, sorry for that.

I'm getting a stream of json data from a database and I want to transform a bit the CSV output.

I tried this to check how it was working :

[code]

But I got this error `TypeError: dest.on is not a function`.
I tried the version `2.5.2` and everything is working fine.

[2021-09-29 08:54] ChazUK commented on #91
@AckerApple I have had a PR open for a few months now, has this been looked at or put into any kind of roadmap?

[2021-09-29 14:38] AckerApple commented on #91
This was news to me, as of just now. I will attempt to review soon.

[2021-09-29 14:40] AckerApple commented on #91
Oh hey I recall that now. I see you are getting help. I just contribute where I can here and there

[2021-09-29 14:43] kaue commented on #91
Yeah, we should be good here @AckerApple :) forgot to check the issues, still have a lot to catch up

[2022-01-11 23:26] #89 closed

[2022-04-07 01:47] bestekov commented on #87
Any hope of that feature in #81 being merged? The need to deal with sparse objects is very real.

[2022-04-07 13:02] AckerApple commented on #87
@bestekov have you checked out and tried #81? I tried briefly reviewing and I'm too out of context with what's going on to verify. It may help to have you provide insight here and any supporting evidence of it being a needed solution.

I read through past comments and saw we were going to work towards confirmations ourselves but life.

[2022-04-30 14:58] bestekov commented on #87
Will see if I can get some time to try to run tests. But the basic gist is there should be a unit test of an object like:

[code]

And that should result in:
[code]

Where *today* without a fix you instead get:
[code]

[2022-07-17 16:02] bestekov commented on #87
@AckerApple , I tried #81 , but it did not appear to fix this issue. Any hope of a fix to trailing commas?

Or, alternatively, is there any way to specify that it should output columns in a particular order? Then maybe I could put a column I know will always have a value at the end of the header list to ensure that extra commas are inserted internally to the row (since that appears to work okay).

[2022-07-17 19:58] kaue commented on #87
@bestekov try using the `headers` option.

headers - Array Used to set a custom header order, defaults to [] example ['lastname', 'name']

[2022-07-17 20:02] kaue commented on #87
I will try catching up with this issue and with PR reviews when i get some free time.

[2022-08-26 20:25] jaichandra commented on #102
I get this error just for passing options to jsonexport when using stream. Doesn't matter which options you have.

[2022-11-03 03:00] juyel0516 opened #108 "How to remove the title option from inside xls file"
1. Is it possible to remove programmatically the title from XLS/CSV file? After converting the XLS/CSV file its added a title according to the filename, top of the table.
2. Is it possible to remove programmatically the dark color from the first row and first column from the XLS/CSV table?

I attache an image with red color mark.

Thank you, your package is awesome.
![Screenshot 2022-11-03 at 11 5

[2022-11-05 15:32] timisenco2015 opened #109 "Nested JSONObject not correctly mapping to csv"
I using your package to convert nested JSON objects to CSV but it is not correctly mapping my JSON Object data to CSV.
I have the sample JSON data, the CSV file, and my Node JS code below.
a) CSV file  [form_buggy_test_submissions.csv](https://github.com/kaue/jsonexport/files/9944138/form_buggy_test_submissions.csv)
b) JSON data [
  {
    "form": {
      "confirmationId": "5AB5D586",
      "formNa